version: 2
jobs:
  build: &build
    docker:
      - image: sicz/dockerspec@sha256:7e946e59349aae5d9f5c8639fd02d76c9a9e8de1e6dd03013d217f381a033ec2
    working_directory: ~/docker-lighttpd
    environment:
      - MAKEFLAGS=--no-print-directory
    steps:
      - run:
          name: Set up Environment
          command: |
            curl -sSL https://github.com/SICZ/Mk/archive/master.tar.gz | tar -xzf -
            mv Mk-master ~/Mk
      - checkout
      - setup_remote_docker:
          version: 17.06.0-ce
      - run:
          name: Remote Docker engine version
          command: |
            docker version
      - run:
          name: Build and test latest Docker image
          command: |
            make ci-rebuild-and-test DOCKER_TEST_CMD=rspec DOCKER_RSPEC_FORMAT=doc
      - run:
          name: Build and test development Docker image
          working_directory: devel
          command: |
            make ci-rebuild-and-test DOCKER_TEST_CMD=rspec DOCKER_RSPEC_FORMAT=doc
      - deploy:
          name: Push latest Docker image to Docker Hub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u ${DOCKER_HUB_USER} -p ${DOCKER_HUB_PASSWD}
              make docker-push
            fi
      - deploy:
          name: Push development Docker image to Docker Hub
          working_directory: devel
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u ${DOCKER_HUB_USER} -p ${DOCKER_HUB_PASSWD}
              make docker-push
            fi
