version: 2
jobs:
  build:
    # docker:
    #   - image: sicz/dockerspec:3.6
    machine: true
    working_directory: ~/docker-lighttpd
    environment:
      - MAKEFLAGS=--no-print-directory
    steps:
      - run:
          name: Upgrade Docker Engine
          command: |
            docker version
            curl -fsSL https://raw.githubusercontent.com/StefanScherer/docker-init/master/ubuntu/install-docker-ce.sh | sh
      - run:
          name: Set up Environment
          command: |
            curl -sSL https://github.com/SICZ/Mk/archive/master.tar.gz | tar -xzf -
            mv Mk-master ~/Mk
      - checkout
      # - setup_remote_docker
      - run:
          name: Remote Docker engine version
          command: |
            docker version
      - run:
          name: Build image
          command: |
            make rebuild
      - run:
          name: Run container
          command: |
            make run
            make logs
      # - run:
      #     name: Run tests
      #     command: |
      #       docker cp spec/fixtures/www `cat .container_id`:/var
      #       env DOCKER_CONTAINER_ID=$(cat .container_id) rspec --format doc
      - run:
          name: Run tests
          command: |
            make test DOCKER_TEST_CMD="--format doc"
      - deploy:
          name: Push image to Docker Hub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u ${DOCKER_HUB_USER} -p ${DOCKER_HUB_PASSWD}
              make docker-push
            fi
